.container { 
  padding: 40px; 
  font-family: sans-serif; 
  max-width: 500px; 
  margin: 0 auto; 
}

.authForm { 
  display: flex; 
  flex-direction: column; 
  width: 100%; 
  gap: 10px; 
}

.authInput { 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.authButton { 
  padding: 10px; 
  cursor: pointer; 
  background-color: #52c41a; /* Зеленый (например, для кнопки "Нравится" или "Сохранить") */
  color: white; 
  border: none; 
  border-radius: 4px; 
  margin-top: 15px; 
  font-size: 16px;
}

.logoutButton { 
  background-color: #ff4d4f; /* Красный (для "Выйти" или "Пропустить") */
  color: white; 
  border: none; 
  padding: 10px 16px; 
  border-radius: 4px; 
  cursor: pointer; 
  margin-bottom: 20px; 
  font-size: 16px;
}